In [1]:
import pandas as pd
from datetime import date
import re
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

pd.reset_option('display.float_format')

In [2]:
filepath = r'C:\Users\nmur1\Google Drive\Springboard\Capstone2\CleanData'
companylistpath = r'C:\Users\nmur1\Google Drive\Springboard\Capstone2\Stock Import Lists'
exportpath = r'C:\Users\nmur1\Google Drive\Springboard\Capstone2\CleanData'

filenameQ = 'Fundamentals_Q.csv'
filenameA = 'Fundamentals_A.csv'
companylist = 'SandP.csv'
exportname = 'Fundamental_Final.csv'

os.chdir(filepath)

**Run the Scraper Notebook first to export Stock_Scrape.csv and Stock_ScrapeQ.csv to the working directory**

In [3]:
#import scraped stocks

df = pd.read_csv(filenameA, index_col = 0) #YE2019 
dfQ = pd.read_csv(filenameQ, index_col = 0) #MRQ
#PY_PRICE = pd.read_csv('YEPrices.csv',encoding= 'unicode_escape')
#Rolling = pd.read_csv('RollingPrices.csv', encoding = 'unicode_escape')
df = df.replace('-', 0).reset_index()
dfQ = dfQ.replace('-', 0).reset_index()

In [4]:
#Get List of S&P
os.chdir(companylistpath)
companies = pd.read_csv(companylist,encoding= 'unicode_escape')
print(companies.head())

Symbol = companies.Symbol
companies.columns = ['Ticker', 'Name', 'Sector']

  Symbol                 Name       Sector
0    MMM           3M Company  Industrials
1    AOS      A.O. Smith Corp  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV          AbbVie Inc.  Health Care
4   ABMD          ABIOMED Inc  Health Care

In [5]:
def convert(string):
    
    try:
        #try a mathematical calculation to check if already a number
        # if it is simply return value
        int(64) * int(string)
        return(float(string))
    
    except:
               
        #find parenthetical, B, or M indicators
        regex = re.compile(r'[\( \)]')
        p = ''.join(regex.findall(string))

        regex = re.compile(r'B')
        b = ''.join(regex.findall(string))

        regex = re.compile(r'M')
        m = ''.join(regex.findall(string))

        #negative if enclosed in parenthetical
        if p == '()':
            neg = -1
        else:
            neg = 1

        #Billions if ends in B
        if b == 'B':
            mult = 1000000

        #Millions if ends in B
        elif m == 'M':
            mult = 1000
        else:
            mult = 1

        #pull out the number
        regex = re.compile(r'\d+(\..*)?\d')
        value = regex.search(string)

        #convert to integer
        try:
            value = float(value.group())
        except:
            value = 0

        #multiply by negative flag and multiple established above
        return round(float(value) * neg * mult,2)

In [6]:
df.head()

,index,eps,epsgrowth,netincome,shareholderequity,roa,longtermdebt,interestexpense,ebitda,ST Debt,Cash,Sales,Shares,Ticker
0,2015,7.73,0,4.84B,11.43B,34.76%,8.8B,229M,8.31B,2.04B,1.92B,30.27B,625.6M,MMM
1,2016,8.35,8.09%,5.06B,10.3B,31.30%,10.72B,207M,8.49B,972M,2.68B,30.11B,604.7M,MMM
2,2017,8.13,-2.63%,4.87B,11.56B,30.44%,12.16B,84M,8.77B,1.85B,4.13B,31.66B,597.5M,MMM
3,2018,9.09,11.81%,5.36B,9.8B,26.84%,13.49B,240M,9.26B,1.21B,3.23B,32.77B,588.5M,MMM
4,2019,7.92,-12.87%,4.58B,10.06B,22.53%,18.24B,431M,8.57B,3.06B,2.92B,32.14B,577M,MMM

In [7]:
def pconvert(x):
    x = str(x).replace('%','')
    x = str(x).replace(',','')
    return x

In [8]:
#function to convert data in dataframes

def DataConversions(data):
    data.epsgrowth = data.epsgrowth.apply(pconvert).astype(float)
    data.roa = data.roa.apply(pconvert).astype(float)
    data.eps = data.eps.apply(convert).astype(float)
    data.netincome = data.netincome.apply(convert).astype('int64')
    data.shareholderequity = data.shareholderequity.apply(convert).astype('int64')
    data.longtermdebt = data.longtermdebt.apply(convert).astype('int64')
    data.interestexpense = data.interestexpense.apply(convert).astype('int64')
    data.ebitda = data.ebitda.apply(convert).astype('int64')
    data['ST Debt'] = data['ST Debt'].apply(convert).astype('int64')
    data.Cash = data.Cash.apply(convert).astype('int64')
    data = data[data.Cash>0] #remove companies with no cash
    data['TotalDebt'] = data.longtermdebt + data['ST Debt']
    data['D2C'] = data.TotalDebt / data.Cash
    data['ROE'] = data.netincome/data.shareholderequity
    data['Sales'] = data.Sales.apply(convert).astype(float)
    data['Shares'] = data.Shares.apply(convert).astype(float)
    return data

In [9]:
# convert the text to numbers based on my function

df = DataConversions(df)
dfQ = DataConversions(dfQ)

C:\Users\nmur1\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\nmur1\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\nmur1\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nmur1\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nmur1\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
#create a dataframe for the trailing 12 month eps
dfQ = dfQ[dfQ['index'] != 'MRQ-4'].sort_values(by = 'Ticker')
epsQ = dfQ.loc[:,('Ticker','eps')]
epsQ.columns = ['Ticker', 'epsTTM']
epsQ = epsQ.groupby('Ticker').sum()

#create a dataframe for the most recent quarter's Debt to Cash Ratio
MRQ_D2C = dfQ[dfQ['index'] == 'MRQ'].loc[:,('Ticker','D2C', 'TotalDebt', 'epsgrowth')]
MRQ_D2C.columns = ['Ticker', 'MRQ_D2C', 'MRQ_TotalDebt', 'MRQ_epsGrowth']

In [11]:
#subset the YE pricing to include only the ticker and price
#Rolling = Rolling.drop(columns = 'Unnamed: 0')
#PY_PRICE

In [12]:
#PY_PRICE.columns = ['Date', 'Ticker', 'YEPrice']

In [13]:
#new = pd.merge(df,PY_PRICE,on = 'Ticker', how = 'left')
new = pd.merge(df,epsQ, on ='Ticker', how = 'left')
#new = pd.merge(new, Rolling, on = 'Ticker', how = 'left')
new = pd.merge(new,MRQ_D2C, on = 'Ticker', how = 'left' )
new = pd.merge(new, companies, on = 'Ticker')

#new['YEPE'] = new.YEPrice / new.eps
#new['peTTM'] = new.Rolling / new.epsTTM
#new['PEVariance'] = new.peTTM - new.YEPE
#new['D2CChange'] = (new.MRQ_D2C - new.D2C) / new.D2C

In [14]:
new.columns

Index(['index', 'eps', 'epsgrowth', 'netincome', 'shareholderequity', 'roa',
       'longtermdebt', 'interestexpense', 'ebitda', 'ST Debt', 'Cash', 'Sales',
       'Shares', 'Ticker', 'TotalDebt', 'D2C', 'ROE', 'epsTTM', 'MRQ_D2C',
       'MRQ_TotalDebt', 'MRQ_epsGrowth', 'Name', 'Sector'],
      dtype='object')

In [15]:
new

,index,eps,epsgrowth,netincome,shareholderequity,roa,longtermdebt,interestexpense,ebitda,ST Debt,...,Ticker,TotalDebt,D2C,ROE,epsTTM,MRQ_D2C,MRQ_TotalDebt,MRQ_epsGrowth,Name,Sector
0,2015,7.73,0.00,4840000,11430000,34.76,8800000,229000,8310000,2040000,...,MMM,10840000,5.645833,0.423447,8.91,4.834452,21610000.0,-0.19,3M Company,Industrials
1,2016,8.35,8.09,5060000,10300000,31.30,10720000,207000,8490000,972000,...,MMM,11692000,4.362687,0.491262,8.91,4.834452,21610000.0,-0.19,3M Company,Industrials
2,2017,8.13,-2.63,4870000,11560000,30.44,12160000,84000,8770000,1850000,...,MMM,14010000,3.392252,0.421280,8.91,4.834452,21610000.0,-0.19,3M Company,Industrials
3,2018,9.09,11.81,5360000,9800000,26.84,13490000,240000,9260000,1210000,...,MMM,14700000,4.551084,0.546939,8.91,4.834452,21610000.0,-0.19,3M Company,Industrials
4,2019,7.92,-12.87,4580000,10060000,22.53,18240000,431000,8570000,3060000,...,MMM,21300000,7.294521,0.455268,8.91,4.834452,21610000.0,-0.19,3M Company,Industrials
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,2015,0.68,0.00,339000,1070000,13.50,4460000,124000,1280000,405000,...,ZTS,4865000,4.230435,0.316822,3.40,2.343582,7851000.0,-10.82,Zoetis,Health Care
2480,2016,1.66,144.12,819000,1490000,19.44,4470000,166000,1640000,0,...,ZTS,4470000,6.148556,0.549664,3.40,2.343582,7851000.0,-10.82,Zoetis,Health Care
2481,2017,1.76,6.02,862000,1770000,20.61,4950000,175000,1970000,0,...,ZTS,4950000,3.173077,0.487006,3.40,2.343582,7851000.0,-10.82,Zoetis,Health Care
2482,2018,2.96,67.96,1420000,2190000,20.27,6440000,212000,2190000,0,...,ZTS,6440000,3.788235,0.648402,3.40,2.343582,7851000.0,-10.82,Zoetis,Health Care
2483,2019,3.14,6.13,1500000,2710000,23.46,6110000,242000,2430000,535000,...,ZTS,6645000,3.443005,0.553506,3.40,2.343582,7851000.0,-10.82,Zoetis,Health Care

In [16]:
os.chdir(exportpath)
new.to_csv(exportname)